.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.subsecond {
  color: silver;
}

.hour,
.minute {
  color: black;
}

.second {
  color: tomato;
}



.h12 {
  fill: tomato;
  transform: translate(-5%,-37%);
}

.h1 {
  fill: tomato;
  transform: translate(18%,-30%);
}

.h2 {
  fill: tomato;
  transform: translate(32%,-16%);
}

.h3 {
  fill: tomato;
  transform: translate(38%,3%);
}

.h4 {
  fill: tomato;
  transform: translate(32%,24%);
}

.h5 {
  fill: tomato;
  transform: translate(19%,37%);
}

.h6 {
  fill: tomato;
  transform: translate(-2.5%,43%);
}

.h7 {
  fill: tomato;
  transform: translate(-23%,37%);
}

.h8 {
  fill: tomato;
  transform: translate(-37%,24%);
}

.h9 {
  fill: tomato;
  transform: translate(-43%,4%);
}

.h10 {
  fill: tomato;
  transform: translate(-38%,-17%);
}
.h11 {
  fill: tomato;
  transform: translate(-23%,-31%);
}